BASE_URL2=https://the-internet.herokuapp.com/login
BASE_URL3=https://www.aviasales.kz

EMAIL=test@gmail.com
PHONE=

FIRST_NAME=
LAST_NAME=  

BIRTH_DAY=
BIRTH_MONTH=
BIRTH_YEAR=

PASSPORT_NUMBER=
PASSPORT_EXP_DAY=
PASSPORT_EXP_MONTH=
PASSPORT_EXP_YEAR=

IIN=
DOC_TYPE=
DOC_NUMBER=
DOC_EXP=
DOB=


BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
RUN_REMOTE=
