.env
venv
.pytest_cache
allure-results
__pycache__

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# TestNG Reports and Logs
test-output/
*.log

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.env